{{!-- single diary entries view template --}}
    <div class="container">
        <main class="main-content">
            <aside class="sidebar">
                <button class="new-entry-btn">
                    <img src="/public/images/newDiary.webp" alt="New Entry" width="35" height="40">
                    New Entry
                </button>
                <ul class="entry-list">
                    {{#each entries}}
                        <li class="entry-item">
                            <span>{{title}}</span>
                            <span>{{date}}</span>
                            <span>{{mood}}</span>
                        </li>
                    {{/each}}
                </ul>
            </aside>
            <section class="entry-details">
                <header class="entry-header">
                    <h1>{{selectedEntry.title}}</h1>
                    <div class="entry-meta">
                        <span>{{selectedEntry.date}}</span>
                        <span>{{selectedEntry.mood}}</span>
                    </div>
                </header>
                <article class="entry-content">
                    <p>{{selectedEntry.content}}</p>
                </article>
            </section>
        </main>
        {{!-- <footer class="footer">
            <button class="trash">
            <img src="/public/images/trashcan.webp" alt="Trash receptacle" width="25">
            </button>
        </footer> --}}
    </div>
 --}}
