{{!-- homepage template --}}
<main class="main-content">
    <aside class="sidebar">
        {{#if logged_in}}
            <button id="new-entry-btn" class="new-entry-btn">New Entry</button>
            <ul class="entry-list">
                {{#each entries}}
                <li class="entry-item" data-id="{{this.id}}">
                    <span class="entry-title">{{this.title}}</span>
                    <span class="entry-date">{{format_date this.created_at}}</span>
                    <span class="entry-tags">{{this.tags}}</span>
                </li>
                {{/each}}
            </ul>
        {{else}}
            <form id="login-form">
                <label for="username">Username:</label>
                <input type="text" id="name" name="name" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Log In</button>
                <a href="/signup">Sign Up</a>
            </form>
        {{/if}}
    </aside>

    {{#if logged_in}}
    <section id="entry-details" class="entry-details">
        <p>Select an entry to view details, or click 'New Entry' to create a new one.</p>
    </section>
    {{/if}}

    <script src="/js/login.js"></script>
    {{#if logged_in}}
    <script src="/js/home.js"></script>
    {{/if}}
</main>
