{{!-- homepage template --}}
<main class="main-content">
    <aside class="sidebar">
        {{#if logged_in}}
            <button id="new-entry-btn" class="new-entry-btn">New Entry</button>
            <ul class="entry-list">
                {{#each entries}}
                <li class="entry-item" data-id="{{this.id}}">
                    <div class="entry-button" data-id="{{this.id}}">
                        <div class="entry-title">{{this.title}}</div>
                        <div class="entry-date">{{format_date this.created_at}}</div> 
                        {{!-- <div class="entry-tags">{{this.tags}}</div> --}}
                    </div>
                </li>
                {{/each}}
            </ul>
        {{else}}
            <form id="login-form">
                <label for="username">Username:</label>
                <input type="text" id="name" name="name" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button class="login-button" type="submit">Log In</button>
                <a href="/signup" class="glow-link">Sign Up</a>
            </form>
        {{/if}}
    </aside>

    {{#if logged_in}}
        <div id="white-box">

        <section id="entry-details" class="entry-details">
        <p>Select an entry to view details, or click 'New Entry' to create a new one.</p>
    </section>
    {{else}}
    <section id="entry-details" class="entry-details">
        {{!-- <h1>Welcome...</h1> --}}
        <br>
        <p class="intro-paragraph">Welcome to Daily Echo – Your Private Space for Daily Reflections</p>
        <p class="intro-paragraph2">In a fast-paced world, finding a moment to reflect and capture your thoughts is essential.<br><br>
        Daily Echo offers a serene and secure environment to document your daily experiences, emotions, and ideas.<br><br>
        Our no-nonsense platform allows you to easily create, edit, and delete your entries while logging your mood at the time of writing.<br><br>
        And when you need a light-hearted break, our Cheer Me Up button delivers a touch of humor with nonsensical tidbits of information.<br><br>
        Start your journey of self-discovery and personal growth with Daily Echo today.</p>
    </section>
    {{/if}}

        </div>
    <script src="/js/login.js"></script>
    {{#if logged_in}}
    <script src="/js/home.js"></script>
    {{!-- <script src="/js/emailEntry.js"></script> --}}
    {{/if}}
</main>
